body {
  background: dimgrey; 
  color:azure;
}


input[type="text"], select {
  color: dimgray;
  background-color: azure;
  font-size: 1.5rem;
}

#submit {
  color: azure;
}

.success, .error {
  color: beige;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background-color: lightgreen;
  color: dimgray;
}

.error {
  background-color: indianred;
}

.fa-trash {
  color: brown;
}